/* Zine Builder custom styles */
body {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 1.25rem;
}

section {
    margin: 2rem 0;
}

.buttonWrap {
    text-align: center;
}

#resultImage {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 400px;
    height: auto;
}

#downloadLink {
    margin-top: 0.5rem;
}

#resultContainer {
    display: none;
}

#resultContainer p {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.5;
    margin-top: 0.5rem;
}

.options p {
    opacity: 0.5;
}

footer {
    opacity: 0.5;
    text-align: center;
}
